/* ---------------------------------------------------------------------
BASE -------------------------------------------------------------------
(Wherever this element is on the page, it should look like this)
--------------------------------------------------------------------- */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  background: $color-lightest;
  font-size: 100%;
  @include font-stack($font-primary,400,normal);
  color: #222;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  position: relative;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;

  @media screen and (max-width:$bpmd) {
    overflow-y:scroll;
  }
}

a {
  color: $color-darkest;
  text-decoration: underline;
}

a:hover {
  color: $color-darkGrey;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}


/* ------------------------------------ 
Typography (Base) ---------------------
------------------------------------ */

h1,h2,h3,h4,h5,h6 {
  @include font-stack($font-primary,300,normal);
}

h1 {
  font-size: 3.125em; 
  padding-bottom: 0.5em;
}

h2 {
  font-size: 2.500em;
  padding-bottom: 0.5em;
}

h3 {
  @include font-size(36);
  padding-bottom: 0.5em;
  @include mq(bpm) {
    @include font-size(60);
  }
}

h4 {
  @include font-size(30);
  padding-bottom: 0.5em;
  font-weight: 300;
}

h5, h6 {
  @include font-size(20);
  padding-bottom: 0.5em;
  font-weight: 300;
}

p {
  @include font-stack($font-primary,300,normal);
  padding-bottom: $gutter;
  max-width: 800px;
  @include font-size(14);

  @include mq(bpl) {
    @include font-size(18);
  }
}

blockquote {
  background: #eee;
  padding: 15px;
  margin-bottom: $gutter;
}

cite {
  display: block;
  text-align: right;
  font-style: italic;
  font-size: 0.875em;
  margin-bottom: $gutter;
}


/*------------------------------------
Forms (Base) -------------------------
----------------------------------- */

form {
  margin-bottom: $gutter;
}

label {
  padding-bottom: 10px;
}

input {
  margin-bottom: $gutter;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  font-weight: lighter;
}

// input[type="textarea"] {
//   @extend input[type="text"];
//   min-height: 120px;
// }

// select {
//   @extend input[type="text"];
// }

textarea {
  min-height: 120px;
  width: 100%;
  border: 1px solid #ddd;
  padding: $gutter / 2;
  margin-bottom: $gutter / 4;

  @include mq(bps) {
    min-height: 180px;
  }

  @include mq(bpl) {
    min-height: 220px;
  }

}

/*------------------------------------
Lists -------------------------
----------------------------------- */

ul,
ol {
  margin-bottom: $gutter;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul li ul li {
  list-style: circle;
}

ul li,
ol li {
  @include font-stack($font-primary,300,normal);
  @include font-size(16);
  @include mq(bpl) {
    @include font-size(20);
  }
  list-style-position: outside;
  padding-left: $gutter/2;
  margin-left: $gutter;
  max-width: 800px;
}

