/* ---------------------------------------------------------------------
BUTTONS ----------------------------------------------------------------
--------------------------------------------------------------------- */

/* Block components */

%btn {
	padding: 8px 20px;
	border: 2px solid $color-highlight;
	text-transform: uppercase;
	color: $color-lightest;
	text-decoration: none;
	// border-radius: 30px/30px;
}

.btn-primary {
	@extend %btn;

	&:hover{
		color: $color-highlight;
		
	}
}

.contact-link {
	a {
		width:80px;
		display:block;
	}
}

a.link-navigation {

	color: $color-lightest;
	text-decoration: none;
	position:relative;
	padding-bottom: 5px;
	overflow: hidden;

	   	&:before{
		   	content:"";
		   	bottom:0px;
		   	position: absolute;
		   	height:2px;
		   	width: 100%;
		   	background-color: $color-lightest;
	   	}
	   	&:after{
		   	content:"";
		   	bottom:0px;
		   	right: 0;
		   	position: absolute;
		   	height:2px;
		   	width: 0%;
		   	background-color: $color-highlight;
		   	transition: width .25s ease;
	   	}

	   	&:hover {
	   		&:after{
	   			width: 100%;
	   			left: 0;
	   		}
	   	}


	&.link-navigation--block {
		display: inline-block;
		float: left;
		clear:both;
	}


}