.site-logo {
	@include background-image(site-logo, contain);
	@include background-styles(center);
}


.primary-header {

	height:60px;
	border-bottom: 1px solid $color-border;

	.primary-header__logo {
		width:120px;
		height:60px;
	}
}

body {
	header {



		.index-link {
		    display: block;
		    position: relative;
		    width: 150px;
		    @include mq(bpl) {
		    	width: 180px;
		    	margin-top:$gutter;
			    float: right;
		       
		    }
		}

		&.container {
			// max-width: 768px;
		}
	    position: relative;
	    position: fixed !important;
		top: 0;
		z-index:50;
		width:100%;
		background-color: $color-lightest;
		// border-bottom: 2px solid $color-darkest;

		@include mq(bpl) {
		 	background-color: transparent;  
			border-bottom: 0px solid $color-highlight;

		}
	

		nav {
		
			.header__logo {
				@include background-image(site-logo, 100%);
				@include background-styles(left center);
				text-indent: -3333px;
				// padding:20px;
				width:100%;
				@include font-size(20);
				margin-top:10px;
				padding-right: 10px;
				z-index:1000;
				position:relative;
				@include mq(bpl) {
					margin-top:30px;
				   	right:10px;
				}
			}

			.header__links {
				color: $color-darkGrey;
				list-style-type: none;
				list-style-position: inside;
				@include font-size(18);
				margin-top:10px;
				text-align:left;
				position:fixed;
				top: 0;
				right:$gutter/2;
				width:100%;
				background-color: $color-lightest;
				height:40px;
				overflow: hidden;
				border-bottom: 0px solid $color-lightest;

				transition: height 500ms ease 0s, border-bottom 100ms ease 400ms;


				@include mq(bpl) {
					position: relative;
					background-color: transparent;
					right:0;
					height: auto;
					margin-top: 50px;

					margin-bottom:0;
					overflow: visible;
				}

				li {
					margin-right:15px;
					overflow: visible;
					width:100%;
					text-align: center;
					padding-top:8px;
					padding-left:0;
					margin-left:0;
					font-weight: 500;


					&:nth-child(2) {
						padding-top:50px;
					}

					@include mq(bpl) {
						float: left;
						width:auto;
						text-align:left;
						padding-top:0 !important;
						padding-bottom: 0;
					}
					a {
						color: $color-darkest;
						text-decoration: none;
						transition: color ease 200ms;
						&:hover {
							// color: $color-darkGrey;
						}

						&:before {
							background-color: transparent;
						}


					}

				}
				.mobile-icon {
					width:30px;
					height:22px;
					margin-top:4px;
					float:none;
					position: relative;
					display: block;
					float:right;
					margin-right: 10px;


					.menu-stripe {
						transition: all ease 200ms;
						width:100%;
						height:2px;
						background-color:$color-darkGrey;
						display:block; 
						position:absolute;
						padding-top:2px;
						&:first-child{
							top: 0;
						}
						&:nth-child(2){
							top: 50%;
							margin-top:-1px;
						}
						&:last-child{
							bottom: 0;
						}
					}
					@include mq(bpl) {
					 	display:none;  
					}
				}

				&.open {
					height: 190px;
					@include mq(bps) {
						height: 185px;
					}
					padding-bottom: 10px;
					transition: height 500ms ease 0s, border-bottom 10ms ease 0ms;
					// border-bottom: 2px solid $color-highlight;
					.mobile-icon {
						.menu-stripe{
							&:first-child{
								top: 50%;
								transform: rotate(45deg);
							}
							&:nth-child(2){
								opacity: 0;
							}
							&:last-child{
								top: 50%;
								transform: rotate(-45deg);
							}
						}
					}
				}
			}
		}
	}

}
