/* ---------------------------------------------------------------------
FOOTER (GLOBAL) --------------------------------------------------------
--------------------------------------------------------------------- */

footer {

	.footer-logo {
		padding-top: 15px;
		padding-left: 15px;
		img {
			width: 30px;
		}

		@include mq(bpm) {
		   img {
			   	width: 50px;
		   }
		}
		@include mq(bpxl) {
			padding-top: 30px;   
		}

	}

	.copyright {	
		margin: $gutter*2 0;


		@include mq(bpxl) {
		    position: absolute;
			bottom: -10px;
		}
		
	}
	// overflow: hidden;
	&:after {
		content:"";
		height:2px;
		width: 200vw;
		position: absolute;
		top:0;
		left:0;
		background-image: linear-gradient(to right, $color-highlight, #7D0600, $color-highlight, #7D0600, $color-highlight);

		// animation: footer-gradient 3s linear infinite;
	}

	
}

@keyframes footer-gradient {
  0%   { left: 0vw; }
  100% { left:-100vw; }
}

.footer__link {
	background-color: $color-highlight;

	text-align: center;
	transition: all 0.3s ease;
	display: block;
	justify-content: center;
	line-height: 1em;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	padding-top: 60px;
	padding-bottom: 60px;

	margin-top: $gutter;
	margin-bottom: $gutter*2

	h3 {
		color:$color-lightest;
	}

}

.contact-link {
    position: fixed;
    top: calc(100% - 45px);
    color: white;
    font-size: 18px;

    width: 100%;
    left: 0px;
    bottom: 0;
    background-color: $color-darkest;

	@include single-transition(all ease 200ms, 0ms);
	z-index:99999;

    @include mq(bpm) {
    	background-color: transparent;
	    left: $gutter*2;
     	width: 80px;  
     	color: $color-darkest;
     	top: calc(100% - 70px);
    }

    a.link-navigation {
    	&:before{
    		display:none;
    	}
    	@media screen and (max-width: $bpmd) {
    		
    		&:after {
    			display: none;
    		}
    	}

    	text-align: center;
    	width: 100%;
    	padding-top: 10px;
    	
    	
    	
		@include single-transition(all ease 100ms, 120ms);

    	@include mq(bpm) {
			color: $color-darkest;

    	 	text-align: left;
    	 	width: auto;  
    	 	padding-top: 0;
    	}
    	
    }

	&.active {
    	a.link-navigation {
    		color: $color-lightest;
	    	&:before {
	    		@include mq(bpm) {
		    		display: block;
	    		    @include single-transition(all ease 100ms, 200ms);
				  	background-color: $color-lightest;
	    		}
	    	}
	    }
	}
}

	

.contact-info {
	position: fixed;
	width: 100%;
	bottom: 0;
	transform: translatey(100%);
	transition: transform ease 600ms;
	background-color: #1A1B1B;
	z-index:9999;
	flex-basis: 50%;
	min-height: 300px;

	h3 {
		color: $color-highlight;
		@include font-size(13);
		@include mq(bps) {
		   @include font-size(18);
		}
		
		font-weight: 700;
	}

	p {
		color: $color-lightest;
		margin:0;
		padding:0;
		font-weight: 500;
		@include font-size(12);
		@include mq(bps) {
		   @include font-size(16);
		}
	}

	a {
		color: $color-lightest;
	}

	&.active {
		transition: transform ease 1200ms;
		transform: translatey(0%);
	}

	.row {
		position: relative;
		align-items:flex-start;
		align-content:flex-start;
		padding-top:$gutter;
		padding-bottom: 30px;
		@include mq(bps) {
		 	padding-top:$gutter*2;  
		}

		@include mq(bpm) {
			&:first-child{
				min-height: 300px;
			}
		}
	}

	.contact-info__item {
		height: auto;
		margin-top: $gutter;

		@include mq(bpm) {
		   &:nth-child(2n-1) {
			   	margin-top: 0;
		   }
		}

		@include mq(bpl) {
		 	margin-top: 0;  
		}
	}
}