
.loader {
	top: 0;
	position:fixed;
	z-index:100000;
	width:100vw;
	height:100vh;
	@include background-image(site-logo-white, 33%);
	@include background-styles(center center);
	background-color:$color-highlight;
	&:after {
		content:"";
		height: 10px;
		position: absolute;
		top: 0;
		left:0;
		background-color: $color-lightest;
		animation: loadframe-progress 2s linear 0s infinite;

	}
}
@keyframes loadframe-progress {
    from {
		width: 0%;
    }
    to {
		width: 100%;  	    	
   	}
}


//load animation
.load {
	opacity:0 !important;
	transform: translatex(50px);
	filter: blur(5px);
	transition: all ease 0ms !important;

}

.ajax {
	transition:opacity ease 500ms, filter ease 500ms;
	right:0;
	position: relative;
}

.ajax-progress {
	position:fixed;
	height: 5px;
	background-color:$color-highlight;
	display: block;
	top: 0;
	left:0;
	width: 0vw;
	z-index:9999999999;


	// &.start {
	// 	width: 80vw;
	// 	transition: width ease 1500ms;
	// 	opacity:1;
	// }

	// &.success {
	// 	width: 100vw;
	// 	opacity: 0;
	// 	transition: width ease 100ms, opacity ease 100ms 100ms;
	// }
}

#intro-canvas {

	top: 0;
	position: fixed;
	z-index:50;
	transition: opacity ease 400ms;
	mix-blend-mode: difference;
	pointer-events: none;
}

body {
	padding-bottom:$gutter*2;
}

i {
    border: solid $color-highlight;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.inview {
	opacity:0 !important;
	transition: none;
    filter: blur(5px);
}

.hero-content {
	position: fixed;
	top: 0;
	width:100%;
	z-index:2;
	max-width: 1800px;
	pointer-events: none;
	transition: opacity ease 200ms;
	opacity:1;
	display: flex;


	.hero-content__link {
		color: $color-darkest;
		@include font-size(12);
		text-decoration: none;
		pointer-events: all;
		display: block;
		font-weight:300;

		@include mq(bps) {
			@include font-size(22);
		}

		@include mq(bpm) {
			margin-top:$gutter;  
		}
	}
}

#Breakdown {
	overflow: hidden;
}

.hero-content__message{
	// background-color:$color-highlight;

	.link-navigation {
		display: inline-block;
		&:before {
			background-color: transparent;
		}
	}

	min-height: 100vh;
	justify-content: center;
	align-items: center;

	@include mq(bpm) {
		min-height: 100vh;
	}

	align-items: center;
	div {
		overflow: visible;
		flex-basis: auto;
		padding: $gutter;
		background-color: $color-lightest;

		@include mq(bps) {
			background-color: transparent;
		}
		flex-basis: auto;
		position:relative;

		&:first-child {
			padding-bottom:0;	
			margin-top: 44vh;
			@include mq(bpm) {
				padding-bottom: 10px;
			    margin-top: 0;
			    max-width: 715px;
			    align-self: center;
			}

			&:before {
				content: "";
				position: absolute;
				width:100%;
				height: 100%;
				z-index:-1;
				background-color: $color-lightest;
				left: 5px;
				top: 5px;
			}	
		}

		&:nth-child(3) {

			@include mq(bpm) {
				max-width: 715px;   
			}

			@include mq(bpl) {
			  // padding-left:0;  
			}
		}

		&.bg-cross {
			position: fixed;
			top: 100px;
			left:-40px;
			width:45vw;
			pointer-events:all;
			transform-style: preserve-3d;
			opacity: 0.5;

			overflow: visible;

			background-image: url('img/grey-x-lg.svg');
			background-size: contain;
			background-repeat: no-repeat;

			@include mq(bpm) {
			   left:-75px;
			   width:30vw;
			   height: 30vw;
			}

			@include mq(bpxxl) {
			    width:28vw;
			    height: 28vw;
			}

			img {
				position: absolute;
				top: 0;
				transform-style: preserve-3d;

				&:nth-child(1) {
					transform: translateZ(0px)  scale(0.8);
					transition: opacity ease 400ms, transform ease 600ms;
					position: relative;
					opacity:0;
				}

				&:nth-child(2) {
					Position:absolute;
					transition: opacity ease 400ms, transform ease 800ms;
					transform: translateZ(0px) translateX(-50%) translatey(-50%) scale(0.6); 
				    top: 50%;
				    left: 50%;
					opacity:0;

				}
			}

			&:hover {
				img {
					&:nth-child(1) {
						transform: translateZ(50px)  scale(0.8);

						position: relative;
						opacity:0.8;

					}

					&:nth-child(2) {
						Position:absolute;
						transform: translateZ(100px) translateX(-50%) translatey(-50%) scale(0.6); 
					    top: 50%;
					    left: 50%;
						opacity:0.8;

					}
				}
			}
			
			z-index:-1;
			// transition: filter ease 500ms;
		}

		span {

			padding-right: 6px;

			&.cat {
				color: $color-highlight;
				font-weight:700;
				position: absolute;
				// transition: all ease 500ms;
				// transition: filter ease 300ms;
			}

			font-weight: 300;
			@include font-size(20);

			text-align: left;
			color:$color-darkGrey;

			@include mq(bpxs) {
				@include font-size(28);
			}

			@include mq(bpl) {
				@include font-size(40);
			}

			@include mq(bpxl) {
				@include font-size(48);
			 	  
			}

		}

		h1 {
			@include font-size(22);

			padding:0;
			text-align: left;
			color:$color-darkGrey;

			@include mq(bpxs) {
				@include font-size(32);
			}

			@include mq(bps) {
				@include font-size(45);
			}

			@include mq(bpm) {
				@include font-size(60);
			 	  
			}

			@include mq(bpl) {
				@include font-size(80);
			}

		}
		height: auto;
		overflow: hidden;
	}


	div.hero-content__message--catergories {
		height: 30px;
		margin-right:50%;

		@include mq(bpxs) {
		 	height: 45px;  
		}

		@include mq(bps) {
			height: 58px;   
		}

		@include mq(bpm) {
			height: 82px;   
		 	margin-right:0;  
		}

		@include mq(bpl) {
			height: 106px;   
		 	margin-right:0;  
		}

		h1 {

			height: auto;
			color:$color-highlight;
		}
	}

	.top-cat {
		@include single-transition(all ease 500ms, 0ms);
	}
}

// this module is for the home page where the active class is applied with js to 
// enable the center element to be "active" when no project is hovered on
.projects {
	z-index:2;
	top:0;

	.projects__single {
		z-index:2;
		flex-basis: auto;
		overflow: visible;
		margin-bottom:15px;
		font-size:0;

		&:last-child {
			margin-bottom:0;
		}

		// transition:all ease 300ms;
		// transition:max-width ease 300ms, transform ease 300ms, opacity ease 500ms, filter ease 1000ms;
		transition:max-width ease 300ms, transform ease 800ms, opacity ease 500ms, filter ease 0ms;



		&.load {
			opacity:0 !important;
			transition: none;
	        transform: translatex(50px);
	        filter: blur(5px);
		}

		&.active, &.active-middle {
			
			&:after {
	    		width: calc(100% - 15px);
	    		opacity:1;
	    		padding-left:10px;
	    	}

	    	span {
	    		opacity:1;
	    		// padding-left: $gutter/2;
	    		// @include mq(bpm) {
	    		//  	padding-left: $gutter;  
	    		// }

	    		// @include mq(bpxl) {
	    		//  	padding-left: $gutter*2;  
	    		// }
	    	}
		} 

    	&:after {
			transition:opacity ease 300ms;
			top: 0;
			pointer-events:none;
    		content:"";
    		width: calc(100% - 15px);
    		height: 100%;
    		position: absolute;
    		right:$gutter/2;
    		// background-image: url(img/arrow-right.svg);
    		// background-size: 13%;
    		// background-repeat: repeat-x;
    		// background-repeat-x: repeat;
    		// -webkit-background-repeat-x: repeat;
    		// animation: background-loop-xxs 0.5s infinite linear;
    		opacity:0;
	    	// background-color: rgba(255, 61, 51, 1);

	    	@include mq(bps) {
	    	 	background-size: 4%; 
	    	 	animation: background-loop-s 0.5s infinite linear; 
	    	}

    		@include mq(bpm) {
    		 	background-color: rgba(255, 61, 51, 0.0);  
    		}

    	}

    	@keyframes background-loop-xxs {
    	    from {
	    		background-position: 70% 95%;
    	    }
    	    to {
	    		background-position: 85% 95%;    	    	
    	   	}
    	}

    	@keyframes background-loop-s {
    	    from {
	    		background-position: 70% 95%;
    	    }
    	    to {
	    		background-position: 74% 95%;    	    	
    	   	}
    	}



		span {
			position: absolute;
			top: 8%;
			transform: translatey(-50%);
			opacity: 0;
			transition: opacity ease 300ms;
			color:$color-lightest;
			z-index:3;
			font-weight:500;
			max-width:70%;
			padding-left: $gutter/2;
			@include font-size(16);

			@include mq(bpm) {
			 	padding-left: $gutter;  
			 	@include font-size(18); 
			}

			@include mq(bpxl) {
			 	padding-left: $gutter*2;  
			}
		}

		a {
			display: block;
			position: relative;
			height:100%;
			text-decoration:none;
			width:100%;
		}

		
		&:first-child {
			margin-top: $gutter;
		}

    	

		img { 
			@include single-transition(max-width ease 200ms, 0ms);
			// width:100%;
			// float: right;
		}

		&.projects__single--thumb{

			&.active {
				background-position: 90% center;
			}
			span{
				top: 0;
			}
		}
	}
}


//shows "active" class on hover for use on work/single project pages
.projects-hover {
	margin-top:$gutter;
	right:0;

	@include mq(bpm) {
		margin-top:160px;
	}

	.projects__single {
		margin-top:$gutter;
		margin-bottom: 0;

		@include mq(bpm) {
			margin-bottom: $gutter;
		}

		&:hover {

			// @include single-transition(width ease 200ms, 0ms);
			&:after {
		    	background-color: rgba(255, 61, 51, 1);
	    		opacity:1;
	    		background-position: 90% center;
	    		// padding-left:15px;
	    		width:calc( 100% - 10px );

	    		@include mq(bpm) {
		    		width:calc( 100% - 10px );

	    		 	background-color: rgba(255, 61, 51, 0.5);  
	    		}
	    	}

	    	span {
	    		opacity:1;
	    		padding-left: 15px;
	    		@include mq(bpm) {
	    		 	padding-left: 30px;  

	    		}
	    	}
		}
	}
	.projects__single:nth-child(2n) {

		padding-left: $gutter/2;

		@include mq(bpm) {
			padding-left: $gutter;
		}
	}
	.projects__single:nth-child(2n-1) {

		padding-right: $gutter/2;

		@include mq(bpm) {
			padding-right: $gutter;
		}
	}
}


.content {

	margin-top: $gutter;
	@include mq(bpl) {
	 	margin-top: 160px;  
	}
	.content__item {
		margin-bottom: $gutter;
		color:$color-darkest;
		transition: opacity ease 1000ms, transform ease 1000ms;
		// transition: opacity ease 1000ms, transform ease 1000ms, filter ease 1000ms;

		h3 {
			font-size: 35px;
		    padding-bottom: 0.5em;
		    color: $color-highlight;
		    font-weight: 300;
		    text-align: center;
		    margin: 50px 0;
		    padding:0;

		    @include mq(bpm) {
				font-size: 60px;
		    }
		}

		img {
		    width: 100%;
		}

		&.content__item--title {
			h3 {
				text-align: left;
				margin:0;
			}
		}

		&.content__item--img {
			// background-color: $color-darkGrey;
			// background-image: url(img/loading.gif);
			// background-position: center;
			// background-repeat: no-repeat;
			// background-size: 25%;
			&:before {
				content:"";
				position: absolute;
				height: 5px;
				background-color:$color-highlight;
				top: 50%;
				transform: translatey(-50%);
				animation: contentImageLoad 1.5s ease-in-out 0s infinite;
				z-index:-1;
			}

			@keyframes contentImageLoad {
			    0% {
			    	left: 41%;
			    	width:0%;
			    }
			    70% {
			    	left: 41%;
			    	width:18%;
			   	}
			   	70.001% {
			   		left: auto;
			   		right: 41%;
			    	width:18%;
			   	}
			   	100% {
			   		left: auto;
			   		right: 41%;
			    	width: 0%;
			   	}
			}

		}

		

		p:first-child {
			margin-top:40px;

			@include mq(bpl) {
				margin-top:60px;
			}
		}

		p:last-child {
			padding:0;
			margin-bottom: 40px;
			@include mq(bpl) {
				margin-bottom:60px;
			}
		}
	}

	.row {
		.content__item {
			&:first-child {
				p {
					margin-top:0;
					margin-bottom:0;
				}
			}
		}
		
	}

	video {
		width:100%;
		height: auto;
	}

	.no-play {
		display: none;
	}

	h4 {
		margin-top: $gutter*2;
	}

}


.video {
	width: 100%;
}


// 3d layer revealer

.content__layer-reveal {
  width: 100%;
  // padding-bottom: 56.5%;
  display: inline-block;
  position: relative;
}

.content__layer-reveal img {
  width: 100%;
  position: absolute;
  top: 0;
  height: auto;
}

#video_two {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#video_two img {
  width: 200%;
  position: absolute;
  height: 100%;
  max-width: none;
}

.content__layer-reveal__handle {
	position: absolute;
	top: 50%;;
	transform: translateY(-50%) translateX(-50%);
	background-color: $color-highlight;
	width:10px;
	height:35px;
	left: 50%;

	.arrow {
	    position: absolute;
	    border-color: $color-lightest;
	    padding: 5px;
	    top: 50%;

	    &.left {
		    transform: translatey(-50%) rotate(135deg);
		    animation: left-arrow 1.5s infinite;

	    }

	    &.right {
		    transform: translatey(-50%) rotate(-45deg);
		    animation: right-arrow 1.5s infinite;
	    }
	}
}


@keyframes right-arrow {
    from {
    	left: 0px;
    	opacity:1;
    }
    to {
    	left: 20px;
    	opacity:0;
   	}
}


@keyframes left-arrow {
    from {
    	right: 0px;
    	opacity:1;
    }
    to {
    	right: 20px;
    	opacity:0;
   	}
}

.img-grid {
	overflow: hidden;
	img {
		margin-bottom: $gutter;
	}
	.row {
		opacity:0;
		@include mq(bps) {
		 	width: 140%;  

		 	margin-left: -40%;

		 	&:first-child {

		 		margin-left: 0%;
		 	}
		}

	}

	&.active {
		.row {
			opacity:1;
			@include single-transition(all ease-out 700ms, 0ms);

			@include mq(bps) {
				// margin-left: -10%;
				@include single-transition(all ease-out 700ms, 0ms);

				&:first-child {
					@include single-transition(all ease-out 700ms, 0ms);
					// margin-left: -30%;
				}
			}
		}
	}
}

// lightbox

html.lb-disable-scrolling {
  overflow: hidden;
  /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $color-darkGrey;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 1;
  display: none;
}

.lightbox {
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  height: 100vh;
}

.lightbox .lb-image {
	display: block;
	height: auto !important;
	max-width: inherit;
	max-height: none;
	// border-radius: 3px;
	margin: 0 auto;


	@include mq(bpl) {
	   max-width: 80vw;
	}
  /* Image border */
  // border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 100vw !important;
  height: initial !important;
  margin: 0 auto;
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);

  /* Background color behind image.
     This is visible during transitions. */
  // background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading-2.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	// width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	top: 0px;
	left: 10px;
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 20px;
	width: 100vw !important;
	padding-right: 20px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
  display: none;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 33px;
  height: 33px;
  background: url(../img/close.png) top right no-repeat;
  background-size: contain;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}



.vaccancies {
  color: $color-darkest;
  margin-bottom: 70px;

  h2 {
    @include font-size(28);
    font-weight:500;
  }

  @include mq(bpm) {
    margin-bottom: 100px;
  }

  p, a {
    @include font-size(16); 
    color: $color-darkest;
    @include mq(bpm) {
      @include font-size(16);
    }
  }

  .vaccancies__intro {
    margin-bottom: $gutter*2;
  }

  .vaccancies__job {
    @include font-size(18);
    font-weight:500;
    margin-bottom: $gutter*2;

    @include mq(bpm) {
      @include font-size(18); 
      margin-bottom: 0;

    }

    a {
      text-decoration: none;
    }

    button {
      margin-top: $gutter;
      padding:5px 15px;
      font-size: 18px;
      text-align: center;
      color: $color-darkest;
      border: 2px solid #979797;
      border-radius: 90px;
      background-color: transparent;
      display: block;
      clear: both;
      transition: all ease 300ms;
      font-weight: 300;

      &:hover {
        border-color: $color-highlight;
      }
    }
  }
}


/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(255,255,255,1);
    min-height: 26px;
    @include font-size(22);
    font-weight: 300;
    color: $color-darkest;
    line-height: 26px;
    padding: 8px 24px 20px 28px;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom:0;

    @include mq(bpm) {
	    bottom: 40%;
	    padding: 8px 30px;
    	width:auto;
	    bottom: 120px;
	    background-color: rgba(255,255,255,0.8);
    	
    }

    display: block;
    opacity:0;
    z-index: 99999999;
    transition: opacity ease 800ms;

    .link-navigation {
    	&:before {
    		display: none;
    	}
    }
}
#cookieConsent a {
    color: $color-highlight;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    // background-color: #F1D600;
    color: #000;


    margin: 0 20px;
    cursor: pointer;

    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    // background-color: #E0C91F;
}
/*Cookie Consent End*/

.lb-disable-scrolling {
	body {
		overflow: hidden;
	}

	.contact-link {
		display: none;
	}
}
