/* ---------------------------------------------------------------------
SINGLE PAGES -----------------------------------------------------------
--------------------------------------------------------------------- */

.page__background {
	
}

#projects-page {

  padding-bottom: 60px;

	.work-link {
		a {
			&:before {
				background-color: $color-highlight;
			}
		}
	}		

	.project-filter {

		transition: opacity ease 200ms;
		
		margin-top:60px;
		@include mq(bpm) {
			margin-top:160px;
		  position: fixed;
		  top: 0;
		  left: $gutter*2;		
      padding-left:0;	
		}

		h3 {
			font-weight:500;	
			padding:0;
			// cursor: pointer;
      padding: $gutter/4 0;
			@include font-size(18);

			@include mq(bpm) {
				@include font-size(22);
        padding: 0;
			}

			a {
				color: $color-darkGrey;
				text-decoration: none;
				@include single-transition(color ease 200ms, 0ms);

				&:hover {
					color:$color-highlight;
				}

				&.active {
					color:$color-highlight;
				}
			}
		}

		&.everything {
			.everything {
				color:$color-highlight;
			}
		}

		&.brands {
			.brands {
				color:$color-highlight;
			}
		}

		&.motion {
			.motion {
				color:$color-highlight;
			}
		}

		&.digital {
			.digital {
				color:$color-highlight;
			}
		}

		&.campaigns {
			.campaigns {
				color:$color-highlight;
			}
		}
	}

}

//this module should be in global but without the page specific id it will clash with the 'projects' on the index.
#projects-page , #content-page {
	.projects {
		margin-top:$gutter;
		right:0;

		@include mq(bpm) {
			margin-top:142px;
		}

    @include mq(bpl) {
      margin-top:160px;
    }

		.projects__single {
      flex-basis: 100%;

			margin-top:$gutter/2;
			margin-bottom: $gutter/2;
      overflow: hidden;

      padding-bottom: 25px;
      padding-top: 20px;
      display: flex;

      @include mq(bps) {
        flex-basis: 50%;
      }

			@include mq(bpl) {
				margin-bottom: $gutter/2;
        padding-bottom: 0;  
        padding-top: 0;

			}

      span {
        position: absolute;

        @include mq(bpm) {
          top: 15px;
        }
        color: $color-darkest;
        opacity:1;

        @media screen and (max-width: $bplg) {
          padding-left:0 !important;
        }

        @include mq(bpl) {
          opacity:0;
          color: $color-lightest;
          top: 30px;  
        }
      }

      z-index: 9999;

			&:hover {

				  &:after {
		    		opacity:1;
		    	}

		    	span {
		    		opacity:1;
            z-index: 9999;
		    	}
			}

			&:after {
		    	width:calc( 100% - 15px );

	    		@include mq(bpm) {
		    		width:calc( 100% - 15px );
		    	}
			}
      .projects__single__main-image {
        position: relative;
        // opacity:0;
        top:25px;
        width:100%;


        @include mq(bpm) {
          margin-top:25px;

          opacity:1;  
        }

        @include mq(bpl) {  
          margin-top:0;  
          top:0;

        }
      }

      .slides {
        // margin-top: 46px;

        position: absolute !important;
        top:25px;
        opacity:0;

        @include mq(bpm) {
          top: 0;
          margin-top: 48px;
        }

        @include mq(bpl) {
          margin-top:0;  
        }




        img {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }

        &.active {
          opacity:1;
        }
      }
		}
	}
}

#content-page {

	.content {
		h2 {
			padding-top: $gutter*4;
		}
	}
	.content-filter {

    padding-right:0px;

		.h5 {
			color: $color-highlight;
		}

    .content-filter__sub-title  {
      @include font-size(22);
      font-weight: 300;
       
      @include mq(bpl) {
        margin-bottom: 30px;  
      }
    }

    position:relative;
		transition: opacity ease 200ms;
		margin-top:60px;

    @include mq(bpm) {
      margin-top: 100px;  
    }

		@include mq(bpl) {
      padding-right:22.5px;
      max-height: calc(100vh - 230px);
      // overflow-y: scroll;
      overflow: -moz-scrollbars-none;
      position: sticky;
      top: 160px;
      height: auto;
      
		}

    h1 {
      font-weight: 400;
      // @include font-size(32);
    }

		h3 {
			font-weight:500;	
			padding:0;
			cursor: pointer;
			@include font-size(18);


			@include mq(bpm) {
				@include font-size(22);
			}

			a {
				color: $color-darkGrey;
				text-decoration: none;
				@include single-transition(color ease 200ms, 0ms);

				&:hover {
					color:$color-highlight;
				}

				&.active {
					color:$color-highlight;
				}
			}
	
		}

    &::-webkit-scrollbar { 
      display: none; 
    }

	}

  .projects {
    .projects__single {
      &.projects__single--thumb {

        padding-top:0;
        padding-bottom:0;

        span {
          top:0;
          position: relative;

          @include mq(bpl) {
            position: absolute;  
            top: 30px;  
          }
        }
        img {
          margin-top:15px;
          @include mq(bpl) {
            margin-top:0;  
          }
        }
      }
    }
  }

	.related-work {
		margin-bottom: $gutter*2;
		margin-top:0;

    .projects__single {
      @include mq(bps) {
        flex-basis: 33%;
      }
      @include mq(bpl) {
        flex-basis: 25%;
      }
    }
	}
	.related-work__title {
		h3 {
			color: $color-darkest;
			font-weight: 400;
			padding-top: $gutter*4;
      @include font-size(22);
		}
	}
}




// studio page

// photo sphere
.photosphere {
  height: 100vh;
  transition: opacity ease 400ms;
  position: relative;
}
.psv-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: radial-gradient(#fff 0%, #fdfdfd 16%, #fbfbfb 33%, #f8f8f8 49%, #efefef 66%, #dfdfdf 82%, #bfbfbf 100%);
  overflow: hidden; }

.psv-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: opacity linear 100ms; }

.psv-canvas {
  display: block; }

.psv-loader-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.psv-loader {
  position: relative;
  text-align: center;
  color: rgba(61, 61, 61, 0.7);
  width: 150px;
  height: 150px;
  border: 10px solid transparent; }
  .psv-loader::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .psv-loader, .psv-loader-image, .psv-loader-text {
    display: inline-block;
    vertical-align: middle; }
  .psv-loader-canvas {
    position: absolute;
    top: 0;
    left: 0; }
  .psv-loader-text {
    font: 14px sans-serif; }

.psv-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 90;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: rgba(51, 51, 51, 1);
  transition: bottom ease-in-out .1s; }
  .psv-navbar--open {
    bottom: 0; }
  .psv-navbar,
  .psv-navbar * {
    box-sizing: content-box; }

.psv-caption {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
  -moz-flex-grow: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  color: rgba(255, 255, 255, 0.7);
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-family: sans-serif; }
  @media (max-width: 800px) {
    .psv-caption {
      visibility: hidden; } }

.psv-spacer--weight-1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.psv-spacer--weight-2 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2; }

.psv-spacer--weight-3 {
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
  -moz-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3; }

.psv-spacer--weight-4 {
  -webkit-box-flex: 4;
  -webkit-flex-grow: 4;
  -moz-flex-grow: 4;
  -ms-flex-positive: 4;
  flex-grow: 4; }

.psv-spacer--weight-5 {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
  -moz-flex-grow: 5;
  -ms-flex-positive: 5;
  flex-grow: 5; }

.psv-spacer--weight-6 {
  -webkit-box-flex: 6;
  -webkit-flex-grow: 6;
  -moz-flex-grow: 6;
  -ms-flex-positive: 6;
  flex-grow: 6; }

.psv-spacer--weight-7 {
  -webkit-box-flex: 7;
  -webkit-flex-grow: 7;
  -moz-flex-grow: 7;
  -ms-flex-positive: 7;
  flex-grow: 7; }

.psv-spacer--weight-8 {
  -webkit-box-flex: 8;
  -webkit-flex-grow: 8;
  -moz-flex-grow: 8;
  -ms-flex-positive: 8;
  flex-grow: 8; }

.psv-spacer--weight-9 {
  -webkit-box-flex: 9;
  -webkit-flex-grow: 9;
  -moz-flex-grow: 9;
  -ms-flex-positive: 9;
  flex-grow: 9; }

.psv-spacer--weight-10 {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
  -moz-flex-grow: 10;
  -ms-flex-positive: 10;
  flex-grow: 10; }

.psv-button {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 10px;
  position: relative;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background: transparent;
  color: rgba(255, 255, 255, 0.7); }
  .psv-button--active {
    background: rgba(255, 255, 255, 0.1); }
  .psv-button--disabled {
    pointer-events: none;
    opacity: 0.5; }
  .psv-button .psv-button-svg {
    width: 100%;
    transform: scale(1);
    transition: transform .3s ease; }
    .psv-button .psv-button-svg * {
      fill: rgba(255, 255, 255, 0.7); }
    .psv-button--hover-scale:not(.psv-button--disabled):hover .psv-button .psv-button-svg {
      transform: scale(1.2); }

.psv-autorotate-button {
  width: 25px;
  height: 25px;
  padding: 7.5px; }

.psv-zoom-button {
  cursor: default;
  width: 128px; }
  .psv-zoom-button-minus, .psv-zoom-button-plus {
    float: left;
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 16px; }
    .psv-zoom-button-minus .psv-button-svg, .psv-zoom-button-plus .psv-button-svg {
      position: relative;
      top: 20%; }
  .psv-zoom-button-range {
    float: left;
    padding: 9.5px 8px; }
  .psv-zoom-button-line {
    position: relative;
    cursor: pointer;
    width: 80px;
    height: 1px;
    background: rgba(255, 255, 255, 0.7);
    transition: all .3s ease; }
  .psv-zoom-button-handle {
    position: absolute;
    border-radius: 50%;
    top: -3px;
    width: 7px;
    height: 7px;
    background: rgba(255, 255, 255, 0.7);
    transform: scale(1);
    transition: transform .3s ease; }
  .psv-zoom-button:not(.psv-button--disabled):hover .psv-zoom-button-line {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.7); }
  .psv-zoom-button:not(.psv-button--disabled):hover .psv-zoom-button-handle {
    transform: scale(1.3); }
  @media (max-width: 600px) {
    .psv-zoom-button {
      width: auto;
      padding: 0; }
      .psv-zoom-button-range {
        display: none; }
      .psv-zoom-button-minus, .psv-zoom-button-plus {
        width: 20px;
        height: 20px;
        padding: 10px; }
        .psv-zoom-button-minus .psv-button-svg, .psv-zoom-button-plus .psv-button-svg {
          top: 0; } }

.psv-markers-list-title {
  font-size: 24px;
  margin: 1em 0;
  text-align: center;
  // text-shadow: 2px 1px #000; 
}

.psv-markers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .psv-markers-list-item {
    clear: both;
    min-height: 20px;
    padding: 0.5em 1em;
    cursor: pointer;
    transform: translateX(0);
    transition: transform .3s ease-in-out; }
    .psv-markers-list-item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 10px;
      margin-left: -10px; }
    .psv-markers-list-item:nth-child(odd), .psv-markers-list-item:nth-child(odd)::before {
      background: rgba(255, 255, 255, 0.1); }
    .psv-markers-list-item:nth-child(even), .psv-markers-list-item:nth-child(even)::before {
      background: transparent; }
    .psv-markers-list-item:hover {
      transform: translateX(10px);
      transition: transform .1s ease-in-out; }
  .psv-markers-list-image {
    float: left;
    width: 20px; }
  .psv-markers-list-name {
    margin: 0;
    padding: 0; }
  .psv-markers-list-image + .psv-markers-list-name {
    padding-left: calc(20px + 0.5em); }

.psv-hud {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%; }

.psv-hud-svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20; }

.psv-marker {
  cursor: pointer;
  display: none; }
  .psv-marker--normal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    background-size: contain;
    background-repeat: no-repeat; }
  .psv-marker--transparent {
    display: block;
    opacity: 0; }
  .psv-marker--visible {
    display: block; }

.psv-panel {
  display:none;
  // position: absolute;
  // z-index: 90;
  // right: 0;
  // height: 100%;
  // width: 400px;
  // max-width: calc(100% - 24px);
  // background: rgba(10, 10, 10, 0.7);
  // transform: translate3d(100%, 0, 0);
  // opacity: 0;
  // transition-property: opacity, transform;
  // transition-timing-function: ease-in-out;
  // transition-duration: .1s;
  // cursor: default;
  // margin-left: 9px; 
}
  .psv-container--has-navbar .psv-panel {
    height: calc(100% - 40px); }
  .psv-panel-close-button {
    display: none;
    position: absolute;
    top: 0;
    left: -24px;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.9); }
    .psv-panel-close-button::before, .psv-panel-close-button::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 4px;
      width: 15px;
      height: 1px;
      background-color: #fff;
      transition: .2s ease-in-out;
      transition-property: width, left, transform; }
    .psv-panel-close-button::before {
      transform: rotate(45deg); }
    .psv-panel-close-button::after {
      transform: rotate(-45deg); }
    .psv-panel-close-button:hover::before, .psv-panel-close-button:hover::after {
      left: 0;
      width: 23px; }
    .psv-panel-close-button:hover::before {
      transform: rotate(135deg); }
    .psv-panel-close-button:hover::after {
      transform: rotate(45deg); }
  .psv-panel-resizer {
    display: none;
    position: absolute;
    top: 0;
    left: -9px;
    width: 9px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: col-resize; }
    .psv-panel-resizer::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 1px;
      margin-top: -14.5px;
      width: 1px;
      height: 1px;
      box-shadow: 1px 0 #fff, 3px 0px #fff, 5px 0px #fff, 1px 2px #fff, 3px 2px #fff, 5px 2px #fff, 1px 4px #fff, 3px 4px #fff, 5px 4px #fff, 1px 6px #fff, 3px 6px #fff, 5px 6px #fff, 1px 8px #fff, 3px 8px #fff, 5px 8px #fff, 1px 10px #fff, 3px 10px #fff, 5px 10px #fff, 1px 12px #fff, 3px 12px #fff, 5px 12px #fff, 1px 14px #fff, 3px 14px #fff, 5px 14px #fff, 1px 16px #fff, 3px 16px #fff, 5px 16px #fff, 1px 18px #fff, 3px 18px #fff, 5px 18px #fff, 1px 20px #fff, 3px 20px #fff, 5px 20px #fff, 1px 22px #fff, 3px 22px #fff, 5px 22px #fff, 1px 24px #fff, 3px 24px #fff, 5px 24px #fff, 1px 26px #fff, 3px 26px #fff, 5px 26px #fff, 1px 28px #fff, 3px 28px #fff, 5px 28px #fff;
      background: transparent; }
  .psv-panel-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: gainsboro;
    font: 16px sans-serif;
    overflow: auto; }
    .psv-panel-content:not(.psv-panel-content--no-margin) {
      padding: 1em; }
    .psv-panel-content--no-interaction {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      pointer-events: none; }
  .psv-panel--open {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition-duration: .2s; }
    .psv-panel--open .psv-panel-close-button,
    .psv-panel--open .psv-panel-resizer {
      display: block; }

.psv-tooltip {
  position: absolute;
  z-index: 50;
  box-sizing: border-box;
  max-width: 200px;
  background-color: $color-highlight;
  // border-radius: 4px;
  padding: 0.5em 1em;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s; }
  .psv-tooltip-content {
    color: white;
    font-size: 16px;
    // text-shadow: 0 1px #000; 
  }
  .psv-tooltip-arrow {
    position: absolute;
    height: 0;
    width: 0;
    border: 10px solid transparent; }
  .psv-tooltip--bottom-center {
    box-shadow: 0 3px 0 rgba(90, 90, 90, 0.7);
    transform: translate3d(0, -5px, 0);
    transition-property: opacity, transform; }
    .psv-tooltip--bottom-center .psv-tooltip-arrow {
      border-bottom-color: rgba(61, 61, 61, 0.8); }
  .psv-tooltip--center-left {
    box-shadow: -3px 0 0 rgba(90, 90, 90, 0.7);
    transform: translate3d(5px, 0, 0);
    transition-property: opacity, transform; }
    .psv-tooltip--center-left .psv-tooltip-arrow {
      border-left-color: rgba(61, 61, 61, 0.8); }
  .psv-tooltip--top-center {
    // box-shadow: 0 -3px 0 rgba(90, 90, 90, 0.7);
    transform: translate3d(0, 5px, 0);
    transition-property: opacity, transform; }
    .psv-tooltip--top-center .psv-tooltip-arrow {
      border-top-color: $color-highlight; }
  .psv-tooltip--center-right {
    box-shadow: 3px 0 0 rgba(90, 90, 90, 0.7);
    transform: translate3d(-5px, 0, 0);
    transition-property: opacity, transform; }
    .psv-tooltip--center-right .psv-tooltip-arrow {
      border-right-color: rgba(61, 61, 61, 0.8); }
  .psv-tooltip--bottom-left {
    box-shadow: -3px 3px 0 rgba(90, 90, 90, 0.7);
    transform: translate3d(0, -5px, 0);
    transition-property: opacity, transform; }
    .psv-tooltip--bottom-left .psv-tooltip-arrow {
      border-bottom-color: rgba(61, 61, 61, 0.8); }
  .psv-tooltip--bottom-right {
    box-shadow: 3px 3px 0 rgba(90, 90, 90, 0.7);
    transform: translate3d(0, -5px, 0);
    transition-property: opacity, transform; }
    .psv-tooltip--bottom-right .psv-tooltip-arrow {
      border-bottom-color: rgba(61, 61, 61, 0.8); }
  .psv-tooltip--top-left {
    box-shadow: -3px -3px 0 rgba(90, 90, 90, 0.7);
    transform: translate3d(0, 5px, 0);
    transition-property: opacity, transform; }
    .psv-tooltip--top-left .psv-tooltip-arrow {
      border-top-color: rgba(61, 61, 61, 0.8); }
  .psv-tooltip--top-right {
    box-shadow: 3px -3px 0 rgba(90, 90, 90, 0.7);
    transform: translate3d(0, 5px, 0);
    transition-property: opacity, transform; }
    .psv-tooltip--top-right .psv-tooltip-arrow {
      border-top-color: rgba(61, 61, 61, 0.8); }
  .psv-tooltip--visible {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition-duration: 0.1s; }

.pano-nav {
  position: absolute;
  bottom:0;
  width: 100%;
  z-index:20;
  text-align: center;
  display: flex;
  margin-bottom:60px;

  a {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    &:last-child {
      order:-1;
      @include mq(bps) {
        order:0;
      }
    }

    &:first-child {
      order:-1;
      @include mq(bps) {
        order:0;
      }
    }
  }

  div {
    position:relative;
  }

  #pano-nav__front {

    text-decoration: none;
    color:$color-highlight;
    @include font-size(24);
    padding:0 $gutter;

    @include mq(bps) {
      padding: 0;
      @include font-size(36);
    }

  }

  #pano-nav__back {
    @include font-size(24);
    padding:0 $gutter;

    @include mq(bps) {
      padding:0;
      @include font-size(36);
    }
    color:$color-highlight;
  }

  #pano-nav__scroll {


    color:$color-lightest;
    padding: 0 $gutter*2;

    @media screen and (max-width: $bpsm) {
      width:100vw;
    }

    @include mq(bpxs) {
      padding: 0 $gutter*3;
    }
    .lg {
      @include font-size(24);

      @include mq(bps) {
        @include font-size(30);
         
      }
      font-weight:700;
    }
    .sm {
      @include font-size(16);

      @include mq(bps) {
        @include font-size(20);
         
      }
    }
  }

  &.front {

    #pano-nav__front {
      opacity:0.4;
      // &:after {
      //   content:"";
      //   width: 120%;
      //   left:-10%;
      //   height: 3px;
      //   background-color: $color-highlight;
      //   // transform: translateY(-50%);
      //   top: 50%;
      //   position: absolute;
      // }
    }
  }

  &.back {

    #pano-nav__back {
      opacity:0.4;
      // &:after {
      //   content:"";
      //   width: 120%;
      //   left:-10%;
      //   height: 3px;
      //   background-color: $color-highlight;
      //   // transform: translateY(-50%);
      //   top: 50%;
      //   position: absolute;
      // }
    }
  }
}


#about-page {

  section {
    @include mq(bpm) {
      margin-top: 0px;
      margin-bottom: 50px;
    }
  }

  .ajax, .loader {
    margin-top:0;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: -1;
    @include mq(bpm) {
      left: 30px;  
    }
  }

  .fake-logo {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 180px;
    background-image: url('img/site-logo-white.svg');
    background-size: 180px;
    background-attachment: fixed;
    z-index:1001;
    min-height: calc(100vh - 160px);
    background-repeat: no-repeat;
    pointer-events: none;
    display: none;
    transition: opacity ease 500ms;
    margin-top:0 !important;

    @include mq(bpl) {
      min-height: 100vh;   
      display: block;
      background-position: calc(100vw - 235px) 46px;
      right:40px;
    }

  }

  .about-link {
    a {
      &:before {
        background-color: $color-highlight;
        padding-left:0;
        margin-left:0;
      }
    }
  } 

  .services {
    .details__text {
      li {
        padding-left:0;
        margin-left:0;
        display: inline-block;
        margin-right: $gutter;
        @include font-size(24);

        position:relative;
        padding-bottom: 5px;
        overflow: hidden;
        cursor:pointer;

        &.active {
          &:after{
            width: 100%;
            left: 0;
          }

        }

        &:before{
          content:"";
          bottom:0px;
          position: absolute;
          height:2px;
          width: 100%;
          background-color: $color-lightest;
        }
        &:after{
          content:"";
          bottom:0px;
          right: 0;
          position: absolute;
          height:2px;
          width: 0%;
          background-color: $color-highlight;
          transition: width .25s ease;
        }

        &:hover {
          &:after{
            width: 100%;
            left: 0;
          }
        }
      }
    }
    .services__content {
      position: relative;
      p {
        top:0;
        opacity:0;
        position: absolute;
        &:first-child {
          position:relative;
        }

      }
    }
    .services__images {

      background-color: $color-highlight;

      div {
        position: absolute;
        top: 0;
        opacity: 0;
        transition: opacity ease 0.3s;
        object-fit: contain;

        img {
          width: 100%;
        }

        &:first-child {
          position: relative;
        }

        &.active {
          // z-index: 999;
          opacity: 1;
        }
      }

      // position: relative;
      // a {
      //   opacity: 0;

      //   &.active {
      //     z-index: 999;
      //     opacity: 1;
      //   }


      //   &:first-child{
      //     img {
      //       position: relative;
      //     }
      //   }
      // }
    }
  } 

  .collab-module {
    // background-color: #ececec;
    background-color: $color-highlight;

    overflow: hidden;

    transform: translate3d(0,0,0);

    margin-top:50px;

    @include mq(bpl) {
      margin-top:0;  
    }  

    svg {
      display: flex;
    }

    .collab-module__next {
      position: absolute;
      width: 60px;
      height: 60px;
      bottom:0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color-lightest;

      &:after {
        content:"";
        width: 20px; 
        height: 20px; 
        border-right: 4px solid $color-highlight;
        border-bottom: 4px solid $color-highlight;
        transform: rotate(45deg);
        left: 20px;
        top: 15px;
        position: absolute;
      }
    }

    .collab-module__content {
      min-height: calc(100vh - 160px);
      display: flex;

      @include mq(bpm) {
        min-height: 100vh;  
      }

      .collab-title{
        path {
          stroke-width:3.5;
          @include mq(bpm) {
          stroke-width:1.6;
             
          }
        }
      }
    }

    .collab-message {
      // position: absolute;
      text-align:center;
      font-weight: 300;
      max-width:100%;  
      opacity:0;

      @include font-size(28);

    
      @include mq(bps) {
        @include font-size(40);
      }

      @include mq(bpm) {
        @include font-size(50);      
      }

      @include mq(bpl) {
        max-width:80%;  
      }

      @include mq(bpxl) {
        max-width: 60%;  
      }
      display:block;
      // font-weight: 300;
      color: $color-lightest;

      > div{
        
        opacity:0;
        &:nth-child(9) {
          font-weight: 700;
        }
        &:nth-child(11) {
          font-weight: 700;
        }
      }
    }
  }

  .introduction {
    margin-top: $gutter*3;
    margin-bottom: $gutter*3;

    @include mq(bpm) {
      margin-top: $gutter*6;
      margin-bottom: $gutter*6;
    }

    &:target{
      border: none;
      outline: none;
    }

    &:focus{
      border: none;
      outline: none;
    }
  }

  .details {
    margin-bottom: $gutter*3;
    padding: 0;

    @include mq(bpm) {
      margin-bottom: 0;
    }

    div {
      &:first-child {
        padding:0;
      }
    }

    .details__logos {
      background-color: $color-lightGrey;
      padding: $gutter !important;
      @include mq(bpm) {
        padding: $gutter*2 !important;  
      }
      @include mq(bpxl) {
        padding: $gutter*6 $gutter*2 !important;  
      }
    }

    .details__text {
      margin-top: $gutter*3;
      padding: 30px;
      @include mq(bpm) {
        margin-top: 0;
      }
      p:last-child {
        padding-bottom:0;
      }
    }
  }


  .vaccancies {
    margin-top: $gutter*6;
  }
  

  .logos {
    margin-bottom: $gutter*3;
    @include mq(bpm) {
      margin-bottom: $gutter*6;  
    }

    .logos__row {
      div {
        transition: opacity ease 0.2s;
        @include mq(bpm) {
          &:nth-child(5n-4) {
            margin-left: 8.333333%;
          }  
          &:nth-child(5n) {
            margin-right: 8.333333%;
          } 

          &:nth-child(11) {
            margin-left:0;
          } 
        }
        &:hover {
          // opacity:0.6;
        }
      }
    }
  }

  h3 {
    margin-bottom: $gutter;
  }
}


#studio-page {
  #intro-canvas {
    // display: none;
    opacity:0 !important;
  }

  .studio-link {
    a {
      color: $color-darkest;
    }
  }
}

#index-content {
  .show-reel__container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    display: block;
    top: 0;
    z-index: 999;
    pointer-events:none;
    opacity:0;
    background: $color-darkGrey;
    transition: opacity ease 1s;
    &.active {
      pointer-events:auto;
      opacity:1;
    }
    .show-reel__close {
      width: 40px;
      height: 40px;
      background-size: cover;
      position: absolute;
      right:0;
      top: -70px;
      background: url(../img/close.png) top right no-repeat;
    }
    .show-reel__spacer {
      position:relative;
      transform: translatey(-50%);
      margin: 0 auto;
      margin-top:50vh;
      width:100%;
      @include mq(bps) {
        max-width:90%;  
      }

      @include mq(bpm) {
        max-width:75%;  
      }
    }
  }
}

#studio-page {


  padding-bottom:0;

  .ajax {
    overflow: hidden;
  }

  .studio-info {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
    display: none;
    opacity: 0;
  }

  .studio-info__wrapper {
    position: relative;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: $gutter;
    z-index: 9999;

    @include mq(bpm) {
      width: 80%;
      height: 100%;
      max-width: 1000px;  
    }
  }

  .studio-info__header {
    position: relative;
    height: 100px;
    margin-top: 40px;

    .close {
      position: absolute;
      cursor: pointer;
      top: $gutter;
      right: 0px;
      width: 30px;
      height: 30px;
      background-image: url(img/close.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      @include mq(bpm) {
        top: $gutter*2;
      }
    }

    h2 {
      color: $color-highlight;
      font-weight: 300;
    }
  }

  .studio-info__content {
    position: relative;
    height: calc(100vh - 155px);
    overflow: hidden;
    p {

      font-size: 18px;
      font-weight:300;
      @include mq(bpm) {
        max-width: none;
        font-size: 24px;
      }
      color: $color-lightest;
    }
    h3 {
      color: $color-highlight;
      font-weight:300;

    }
    div{
      &:first-child{
        display: block;
        position: relative;
        height: 100%;
        overflow-y: scroll;
        width: calc(100% + 20px);
        padding-right: 20px;
        padding-bottom: 150px;
      }
    }
    @include mq(bpm) {
      font-size: 24px;
    }
  }

  .label-extra-info {
    width: 15px;
    height: 15px;
    // border: 5px solid #ff3d33;
    background-color: $color-highlight;
    border-radius: 30px;

    .label-extra-info__pulse {
      width: 15px;
      height: 15px;
      border-radius: 30px;
      position: absolute;
      top:0;
      left: 0;
      animation: label-pulse 5s linear 0s infinite normal;
      background-color: $color-highlight;
      border: 5px solid #ff3d33;



      // animation: label-pulse 2s loop infinite;
    }

  }

  .label-wrapper {

    * {
      cursor: help;
    }
    span {
      // line-height: 1em;
    }

    background-color: $color-darkGrey;
    padding: 0px $gutter $gutter/2 $gutter;
    transition: background-color ease 200ms;

    .label-number {
      color: $color-highlight;
      font-weight: 300;
      @include font-size(20);

      @include mq(bpm) {
        @include font-size(35);
      }
      padding-right: 5px;
    }

    .label-break {
      background-color:#4f4f4f;
      width:2px;
      display: inline-block;
      height: 20px;
      @include mq(bpm) {
        width:3px;
        height: 35px;
      }
      
      display: inline-block;
      margin-top: 10px;
      transition: background-color ease 200ms;
    }

    .label-title {
      color: $color-lightest;
      font-weight: 300;
      @include font-size(20);
      padding-left: 5px;


      @include mq(bpm) {
        @include font-size(35);
        padding-left: 10px;
      }
    }

    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(0, 0, 0, 0);
      border-top-color: $color-darkGrey;
      border-width: 20px;
      margin-left: -20px;
      transition: all ease 200ms;

    }

    &:hover {
      background-color:#4f4f4f;
      .label-break {
        background-color:$color-darkGrey;
      }
      &:after { 
        border-top-color: #4f4f4f;
      }
    }
  }

  .studio-info-nav {
    position: absolute;
    display: none;
    // top: 77vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9998;
    height: 378px;

    @include mq(bpm) {
      display: flex;
      bottom: -320px;  
    }

    &.sofas {
      .label-sofas {
        background-color:#4f4f4f;
      }
    }

    &.concept {
      .label-concept {
        background-color:#4f4f4f;
      }
    }

    &.planning {
      .label-planning {
        background-color:#4f4f4f;
      }
    }

    &.studio {
      .label-studio {
        background-color:#4f4f4f;
      }
    }

    &.design {
      .label-design {
        background-color:#4f4f4f;
      }
    }

    &.vfx {
      .label-vfx {
        background-color:#4f4f4f;
      }
    }

    .studio-info-nav__label {
      background-color: $color-darkGrey;
      display: flex;
      flex-direction: column;
      // flex-wrap: nowrap;
      padding: 10px;
      margin: 0 $gutter/3;
      top: 0;
      @include mq(bpm) {
        margin: 0 $gutter/2;

        transition: transform ease 300ms, background-color ease 200ms;
        &:hover {
          transform: translatey(-180px); 
        }
      }
      &.studio-info-nav__label--area {
        margin-left: $gutter;
        margin-right: $gutter;
        @include mq(bpm) {
          margin-left: $gutter*2;
          margin-right: $gutter*2;
        }
        .studio-info-nav__number {
          color: $color-lightest;
        }
      }
    }

    .studio-info-nav__number {
      display: flex;
      color: $color-highlight;
      @include font-size(18);
      font-weight: 500;
      @include mq(bpm) {
        @include font-size(30);
      }
    }

    .studio-info-nav__title {
      display: none;
      writing-mode: vertical-rl;
      @include mq(bpm) {
        margin-top:10px;
        @include font-size(30);
        color: $color-lightest;
        display: flex;  
        // transform: rotate(90deg);
      }
    }
  }
}

@keyframes label-pulse {
    0% {
      transform: scale(1);
      opacity:1;
    }
    50% {
      transform: scale(2);    
      opacity:0; 
    }

    100% {
      transform: scale(2);    
      opacity:0; 
    }
}

