/* ---------------------------------------------------------------------
TYPOGRAPHY -------------------------------------------------------------
--------------------------------------------------------------------- */

.h1 {
	@extend h1;
}

.h2 {
	@extend h2;
}

.h3 {
	@extend h3;
}

.h4, .h5, .h6 {
	@extend h4;
}

// @font-face {
// 	font-family: 'FS Elliot';
// 	src: url('fs_elliot-bold-webfont.eot'); /* IE9 Compat Modes */
// 	src: url('fs_elliot-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        	 url('fs_elliot-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        	 url('fs_elliot-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        	 url('fs_elliot-bold-webfont.svg#fs_elliot-bold-webfont') format('svg'); /* Legacy iOS */
//    	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'FS Elliot';
// 	src: url('fs_elliot-light-webfont.eot'); /* IE9 Compat Modes */
// 	src: url('fs_elliot-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('fs_elliot-light-webfont.woff') format('woff'), Pretty Modern Browsers
//        url('fs_elliot-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('fs_elliot-light-webfont.svg#fs_elliot-light-webfont') format('svg'); /* Legacy iOS */
//    	font-weight: 500;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'FS Elliot';
// 	src: url('fs_elliot-regular-webfont.eot'); /* IE9 Compat Modes */
// 	src: url('fs_elliot-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('fs_elliot-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('fs_elliot-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('fs_elliot-regular-webfont.svg#fs_elliot-regular-webfont') format('svg'); /* Legacy iOS */
//    	font-weight: 300;
// 	font-style: normal;
// }


@include font-face('FS Elliot', 'fonts/fs_elliot-thin-webfont', $weight: 200, $style: normal);
@include font-face('FS Elliot', 'fonts/fs_elliot-light-webfont', $weight: 300, $style: normal);
@include font-face('FS Elliot', 'fonts/fs_elliot-regular-webfont', $weight: 500, $style: normal);
@include font-face('FS Elliot', 'fonts/fs_elliot-bold-webfont', $weight: 700, $style: normal);

@import url("https://use.typekit.net/shr3npf.css");
