/* ---------------------------------------------------------------------
CONFIG -------------------------------------------------------------------
(Set all variables here)
--------------------------------------------------------------------- */

/// Base font size
$base-size: 16px;

/// Column Gutters
$gutter: 15px;
$gutter-mob: $gutter / 2;

/// Padding
$global-padding: $gutter;

/// Breakpoints
$bpxs: 30em; /* 480px breakpoint */
$bpsm: 36em; /* 576px breakpoint */
$bpmd: 48em; /* 768px breakpoint */
$bplg: 62em; /* 992px breakpoint */
$bpxl: 75em; /* 1200px breakpoint */
$bpxxl: 93.75em; /* 1500px breakpoint */

/// Columns
$col-12: 	100%;
$col-11: 	91.66666666666663%;
$col-10: 	83.3333333333333%;
$col-9: 	74.99999999999997%;
$col-8: 	66.66666666666664%;
$col-7: 	58.33333333333331%;
$col-6: 	50%;
$col-5: 	41.66666666666665%;
$col-4: 	33.3333333333333%;
$col-3: 	25%;
$col-2: 	16.66666666666666%;
$col-1: 	8.33333333333333%;

/// Fonts
$font-primary: 'FS Elliot', Helvetica, sans-serif;
$font-secondary: 'komu-b', Helvetica, sans-serif;
$font-monospace: Menlo, Monaco, "Courier New", monospace;

/// Colours
$color-white: #fff;
$color-black: #000;
$color-lightGrey: #EEEEEE;
$color-darkGrey: #333333;


$color-red: #FF3D33;
$color-code: #dd1144;

$color-lightest: $color-white;
$color-darkest: #1A1B1B;

$color-border: $color-lightGrey;

$color-highlight: $color-red;